.header-component {
    display: flex;
    text-align: left;
    background: black;
    align-items: center;
    color: white;
    height: 5%;
}

.header-component span {
    margin: 5px 5px 5px 5px;
    border: white 1px solid;
    padding: 5px 5px;
}

.header-component span:hover {
    cursor: pointer;
}