.plant-container {
    display: flex;
    margin: 10px;
    box-shadow: 0px 0px 8px 0px  black;
    border-radius: 5px;
}

.plant-image-container {
    flex: 10%
}

.plant-data {
    flex: 70%;
    text-align: left;
}

.plant-data h2 {
    margin: 0;
}

.plant-data p {
    margin: 0;
}



.plant-image {
    top: 5px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: solid 8px red;
    transition: 500ms;
}

.plant-image.zero-percent {
    border: solid 8px #00ff00;
}

.plant-image.ten-percent {
    border: solid 8px #99ff00;
}

.plant-image.twenty-percent {
    border: solid 8px #ccff00;
}

.plant-image.thirty-percent {
    border: solid 8px #ffff00;
}

.plant-image.forty-percent {
    border: solid 8px #ffcc00;
}

.plant-image.fifty-percent {
    border: solid 8px #ffbb00;
}

.plant-image.sixty-percent {
    border: solid 8px #ff9900;
}

.plant-image.seventy-percent {
    border: solid 8px #ff5500;
}

.plant-image.eighty-percent {
    border: solid 8px #ff3300;
}

.plant-image.ninety-percent {
    border: solid 8px #ff0000;
}

.plant-image.hundred-percent {
    border: solid 8px #000000;
}
